// ==========================================================================
// TABLE OF CONTENTS:
// ==========================================================================
//
// # Header
// 		# Title + description
// 		# Navbar
// # Wrapper
// # Content
// # Sidebar and Widgets
// # Components
// 		# Fancy skip link
// 		# Pagination
// 		# Comments
// # Footer
//

// ==========================================================================
// Header
// ==========================================================================

@font-face {
    font-family: dinblack;
    font-weight: bold;
    src: url("../fonts/dinblack.otf") format("opentype");
}
@font-face {
    font-family: knowledge;
    font-weight: bold;
    src: url("../fonts/knowledge-bold.otf") format("opentype");
}
// petrobras
// https://novodev.brasa.art.br/esquerdaonline/2017/08/11/petrobras-desvalorizacao-do-refino-traz-prejuizo-no-balanco-da-estatal/
// cabeçalhos maiores com a fonte dinblack, menores com lato bold, p e links com lato regular
.postid-568, .postid-17643 {
	h1,h2{
		font-family: dinblack!important;
		font-weight: 800!important;
	}
	h1{
		font-size: 28px!important;

	}
	h3,h4,h5,h6,h3 a,h4 a,h5 a,h6 a{
		font-family: Lato!important;
		font-weight: 800;
	}
	.sub-title p {
		font-size:$sub_title_size;
	}
	p,a{
		font-family: Lato!important;
		font-weight: 400;
		font-size:18px;
	}
	#header-colunista p{
		font-size:16px!important;
	}
}
// Circo voador
// https://novodev.brasa.art.br/esquerdaonline/2018/03/05/18046/
// cabeçalhos maiores com a fonte knowlege, menores com lato bold, p e links com lato regular
.postid-650, .postid-18046 {
	h1,h2{
		font-family: knowlege!important;
		font-weight: 800!important;
	}
	h3,h4,h5,h6,h3 a,h4 a,h5 a,h6 a{
		font-family: Lato!important;
		font-weight: 800;
	}
	.sub-title p {
		font-size:$sub_title_size;
	}
	p,a{
		font-family: Lato!important;
		font-weight: 400;
		font-size:18px;
	}
	.entry-content p{

	}
	#header-colunista p{
		font-size:16px!important;
	}
}
// contra os golpes
// cabeçalhos maiores com a fonte knowlege, menores com Roboto bold, p e links com Roboto regular
// https://novodev.brasa.art.br/esquerdaonline/2017/08/12/municiparios-de-porto-alegre-mobilizados-para-derrotar-marchezan/
.postid-546, .postid-17727 {
	h1,h2{
		font-family: knowlege!important;
		font-weight: 800!important;
	}
	h3,h4,h5,h6,h3 a,h4 a,h5 a,h6 a{
		font-family: 'Roboto'!important;
		font-weight: 800;
	}
	.sub-title p {
		font-size:$sub_title_size;
	}
	p,a{
		font-family: 'Roboto'!important;
		font-weight: 400;
		font-size:$content_body_size;
	}
	#header-colunista p{
		font-size:15px!important;
	}
}

// dia do estudante
// cabeçalhos maiores com a fonte dinblack, menores com Roboto bold, p e links com Roboto regular
// https://novodev.brasa.art.br/esquerdaonline/2017/08/11/dia-do-estudante-educacao-pede-socorro-mas-resiste/
.postid-546, .postid-17623 {
	h1,h2{
		font-family: dinblack!important;
		font-weight: 800!important;
	}
	h3,h4,h5,h6,h3 a,h4 a,h5 a,h6 a{
		font-family: 'Roboto'!important;
		font-weight: 800;
	}
	.sub-title p {
		font-size:$sub_title_size;
	}
	p,a{
		font-family: 'Roboto'!important;
		font-weight: 400;
		font-size:$content_body_size;
	}
	#header-colunista p{
		font-size:15px!important;
	}
}



#header {
    //
    // Navbar
    //
    #main-navigation {
        margin: 20px 0;
    }
    //
    // Title, description and image
    //
    .page-header {
        margin: 20px 0 20px;
        .site-title {}
        .site-description {
            font-size: 16px;
            font-style: italic;
        }
    }
}

// ==========================================================================
// Wrapper
// ==========================================================================
#wrapper {}

// ==========================================================================
// Content
// ==========================================================================
#content {}

//
// Home
//
.home {
    #content {
        .post {
            margin-bottom: 40px;
            &.sticky {
                padding: 0 20px 20px;
                border: 1px dashed $brand-info;
            }
        }
    }
}

// ==========================================================================
// Sidebar
// ==========================================================================
#sidebar {}

// ==========================================================================
// Components
// ==========================================================================

//
// Fancy skip link
//
// Make it look a bit less "bare bones"
// Also includes focus suppression for the Chrome tabindex="-1" workaround
//
#skippy {
    display: block;
    padding: 1em;
    background-color: #f5f5f5;
    outline: 0;
}

#skippy .skiplink-text {
    padding: .5em;
    outline: 1px dotted;
}

#content:focus {
    outline: none;
}

//
// Pagination
//
.pagination-wrap {
    text-align: center;
    margin-top: 15px;
    .infinite-scroll & {
        display: none;
    }
}

// ==========================================================================
// Footer
// ==========================================================================

//
// Sticky footer styles
//
html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: 70px;
    * {
    	font-family: 'Roboto', sans-serif;
    }
}
.clear {
	width:100%;
	clear:both;
	height:1px;
}
.area-title {
	@extend .col-md-12;
	font-weight: 500;
	color:$main_content_color;
	text-transform: uppercase;
	span {
		color:$red_main;
	}
}
