// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// cores
$red_main: #d0482a;
$white_main: white;
$editoria_main: #282828;
$main_content_color: #282828;
$entry_meta_color: #939393;
$social_bg: rgba(230, 214, 214, 0.2);
$footer_bg: #d0482a;
$colunistas_bg:rgba(230, 214, 214, 0.3);

// font sizes
$widget_title_font_size:20px;
$sub_title_size: 19px;
$caption_author_size: 13px;
$content_body_size: 17px;
$navbar-padding-vertical:0;

// letter-spacing
$letter_spacing_title:-0.6px;
$letter_spacing_link:-0.4px;
