body{
  &.tax-editorias{
    .widget-eol-taxonomy-posts{
      .tax-widget-titulo{
        margin-top: 10px!important;
      }
    }
    &.term-editorial{
      .barra-editorias{
        background:$editorial_color;
        h5{
          padding-left:0;
        }
      }
    }
    .widget-tags-container{
      padding-top: 7px;
      padding-left: 3px;
    }
    .widget-container.widget-socials .widget-content .widget-title {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    section.social-area, h1.page-title{
      padding-left: 15px;
      padding-right: 15px;
    }
    h1.page-title{

    }
    #content{
      padding-left: 0px;
      padding-right: 0px;
    }
    .barra-editorias{
      background:$especiais_single_color;
			color: #FFF;
			padding: 10px 0;
			text-align: left;
			.container{
				h5{
					font-size: 15px;
					padding-left: 0px;
					font-weight: bolder;
					text-transform: uppercase;
				}
			}
    }
  }
}
