body{
  &.tax-editorias{
    .barra-editorias{
      background-image: url('../images/barra-azul.jpg');
      background-size: cover;

			color: #FFF;
			padding: 10px;
			text-align: left;
			.container{
				h5{
					font-size: 15px;
					padding-left: 55px;
					font-weight: bolder;
					text-transform: uppercase;
				}
			}
    }
  }
}
