.post-type-archive-colunistas, .single-colunistas{
	h1.page-title {
	    margin: 0px 0px 9px 0px;
	    text-transform: uppercase;
	    font-size: 30px;
	    font-weight: 600;
   		letter-spacing: -0.45px;
	}
	header.page-header {
	    padding: 0px;
	    border: 0px;
			margin: 0px 0px 45px 0px;

	}

	h1.page-title span {
	    color: $red-main;
	}

	.each-colunista {
	    padding: 0px;
			margin-bottom: 30px;
			margin-top: 30px;

	}

	.thumbnail-colunista {
	    overflow: hidden;
	    padding: 0px;
	    border-radius: 100px;
			margin-left: 20px;
	    float: left;
	    max-width: 102px;
			img.wp-post-image{
				border-radius:200px;
				max-width:100px
			}
	}

	.icon-itself .fa-facebook-f {
	    color: #4267b2;
	}
	.icon-itself i.fab.fa-twitter {
	    color: #1da1f2;
	}
	.icon-itself .fa-google-plus {
	    color: orangered;
	}
	i.fab.fa-instagram {
	    color: purple;
	}
	h4.colunista-name a {
		text-transform: uppercase;
	    color: $main_content_color;
	    text-decoration: none;
	    font-weight: 800;
	    letter-spacing: $letter_spacing_title;
			font-size: 17px;
	}

	.post-colunista {
	    padding: 0px;
	}

	.colunista-social .icon-itself {
	    display: inline-block;
	    font-size: 18px;
	    padding: 0px 3px;
	}

	.post-colunista a {
	    text-decoration: none;
	}

	.the-date-time {
	    padding: 0px;
	    font-size: 15px;
	    letter-spacing: $letter_spacing_link;
	}

	.coluna-link {
	    padding: 0px;
	    text-align: right;
	    font-size: 15px;
			margin-top: 10px;
	    letter-spacing: $letter_spacing_link;
			font-weight: 500;
	}

	.coluna-link a {
	    color: inherit;
	}
	.colunista-social {
		margin-top:10px;
		padding: 0px;
		display: inline-block;
		float: right;
		margin-left: 16px;
	}
	.post-colunista article {
	    padding: 0px;
	}

	.post-colunista article h2 {
	    margin: 0px;
	    color: $main_content_color;
	    letter-spacing: $letter_spacing_title;
	    font-size: 26px;
			font-weight:400;
	}
	.colunista-nome{
		display: inline-block;
		max-width:70%;
	}

}

.single-colunistas{
	.thumbnail-colunista{
		margin-left: 	0px!important;
	}
	.text-left.social-icons-colunist div {
		    display: inline-block;
	}
	.post-colunista {
	    margin-top: 20px;
	    margin-bottom: 30px;
	}
	.lefthright {
	    max-width: 101px;
	}
	.sub-title {
	    margin-top: 8px;
	}
	.the-date-time {
	    text-transform: uppercase;
	    color: grey;
	    font-weight: bold;
	    font-size: 14px;
	}
	.sub-title p {
	    margin: 0px 0px 4px;
	}
	.text-left.social-icons-colunist div:first-child {
	    padding-left: 0px;
	}
	article {
	    float: left;
	}
}
