.single-post.single-colunistas, .single-colunistas{
	&.colunistas-template-default{
		.container-colunista{
			@extend .container;
		}
	}
	.barra-colunistas {
			background: #EF4723;
			color: #FFF;
			padding: 10px;
			text-align: left;
			.container{
				h5{
					padding-left: 55px;
				}
			}

	}
	.barra-colunistas h5 {
			font-weight: bolder;
			text-transform: uppercase;


	}
	#header-colunista{
		background: $colunistas_bg;
    	padding: 30px 0;
		.entry-title-container.text-left{
			padding-left: 0;
		}
	}
	.entry-header{
		.social-icons-post{
			margin-top: 0;
			display: inline-block;
			vertical-align: middle;
		}
		.center-container.text-center.entry-meta{
			display: inline-block;
		}
		.entry-date{
			line-height: 3;
		}
	}
}
.single-colunistas{
    &.single-post{
		.thumbnail-colunista {
				img.wp-post-image{
					max-width: 120px;
				}
		}
    }
	h4.colunista-name{
		font-size:22px;
		text-decoration: none;
		color: #000;
	}
	header.col-md-12 {
		margin-bottom:30px;
	}
	div#wrapper.container{
		article.colunistas{
			padding-left: 55px;
		}
		margin-top: 20px;
		.entry-title-container a:hover{
			text-decoration: none;
		}
	}
    .thumbnail-colunista{
		margin-left: 	0px!important;
	}
	.text-left.social-icons-colunist div {
		    display: inline-block;
	}
	.post-colunista {
	    margin-top: 20px;
	    margin-bottom: 30px;
	}
	.lefthright {
	    max-width: 101px;
	}
	.sub-title {
	    margin-top: 8px;
	}
	.the-date-time {
	    text-transform: lowercase;
	}
	.sub-title p {
	    margin: 0px 0px 4px;
	}
	.text-left.social-icons-colunist div:first-child {
	    padding-left: 0px;
	}
	article {
	    float: left;
	}
}
.post-type-archive-colunistas, .single-colunistas{
	&.archive{
		.thumbnail-colunista {
				img.wp-post-image{
					max-width: 120px;
				}
		}
	}
	h1.page-title {
	    margin: 0px 0px 9px 0px;
	    text-transform: uppercase;
	    font-size: 30px;
	    font-weight: 600;
   		letter-spacing: -0.45px;
	}
	header.page-header {
	    padding: 0px;
	    border: 0px;
			margin: 0px 0px 45px 0px;

	}

	h1.page-title span {
	    color: $red-main;
	}
	.each-colunista {
	    padding: 0px;
	    margin-bottom: 30px;
		margin-top: 30px;
		clear: both;
	}
	.each-colunista:nth-child(1) {
			margin-top: 0;
	}
	.thumbnail-colunista {
	    overflow: hidden;
	    padding: 0px;
	    border-radius: 100px;
			img.wp-post-image{
				border-radius:200px;
				display: block;
				margin: 0 auto;
			}
	}

	.icon-itself .fa-facebook-f {
	    color: #4267b2;
	}
	.icon-itself i.fab.fa-twitter {
	    color: #1da1f2;
	}
	.icon-itself .fa-google-plus {
	    color: orangered;
	}
	i.fab.fa-instagram {
	    color: purple;
	}
	h4.colunista-name a {
		letter-spacing: $letter_spacing_title;
		text-align: left;
		text-transform: uppercase;
		font-size: 18px;
	    color: black;
	    text-decoration: none;
	    display: block;
	    line-height: 21px;
		font-weight: normal;
	}

	.post-colunista {
	    padding: 0px;
	}

	.colunista-social .icon-itself {
	    display: inline-block;
	    font-size: 18px;
	    padding: 0px 3px;
	}

	.post-colunista a {
	    text-decoration: none;
	}

	.the-date-time {
		text-transform: lowercase;
	    padding: 0px;
	    font-size: 15px;
	    letter-spacing: $letter_spacing_link;
	}

	.coluna-link {
	    padding: 0px;
	    text-align: right;
	    font-size: 15px;
			margin-top: 10px;
	    letter-spacing: $letter_spacing_link;
			font-weight: 500;
	}

	.coluna-link a {
	    color: inherit;
	}
	.colunista-social {
		margin-top:10px;
		padding: 0px;
		display: inline-block;
		float: right;
	}
	.post-colunista article {
	    padding: 0px;
	}

	.post-colunista article h2 {
	    margin: 0px;
	    color: $main_content_color;
	    letter-spacing: $letter_spacing_title;
	    font-size: 26px;
			font-weight:400;
	}
	.colunista-nome{
		display: inline-block;
		max-width:70%;
	}

}
@media screen and (min-width: 990px) {
	.single-post.single-colunistas, .single-colunistas{
		#header-colunista{
	    	padding: 30px 0 30px 15px;
			margin-top: 9px;

		}
	}
}
@media screen and (max-width: 768px) {
	.single-colunistas{
		#header-colunista{
			.entry-title-container.text-left{
				padding: 0;
				.content-it-self{}
			}
			.post-thumb{
				margin-bottom: 20px;
			}
		}
		div#wrapper.container{
			.post-colunista {
				article{
					h2{
						font-size:23px;
						padding-bottom:10px;
					}
				}
			}
			article.colunistas{
				padding-left:0;
			}
		}
	}
	.post-type-archive-colunistas{
		.each-colunista:nth-child(2n){
			background: $colunistas_bg;
			padding: 20px 0;
		}
		.each-colunista{
			.colunista-social{
				float: none;
				margin: 5px auto 10px;
				display: block;
				text-align: center;

			}
			.post-colunista{
				.post-title{
					h2{
						font-size:23px;
					}
				}
				margin: 10px 0;
				.the-date-time{
					margin-top: 10px;
				}
			}
			.colunista-nome{
				max-width: 100%;
				text-align: center;
				width: 100%;
			}
			.thumbnail-colunista{
				min-width: 100%;
				text-align:center;
			}
			.coluna-link{
				margin-top: -20px;
			}
		}
	}
}
