.term-dossie{
  .social-area{
    padding-top: 15px;
  }
}
.term-cobertura{
  .social-area{
    padding-top: 15px;
    .post-default{
      .post-content{
        padding:0!important;
      }
    }
  }
}
.single-especiais{
  .no-thumb{

  }
  .main-post-social{
    width:100%;
  }
}
.single-especiais, .tax-tipo, .post-type-archive-especiais{
  .barra-especiais{
    background-image: url(../images/barra-roxa.jpg);
    background-size: cover;
    color: #FFF;
    text-align: left;
    padding-top:10px;
    padding-bottom:10px;
    h5{
      font-size: 15px;
      padding-left: 0px;
      font-weight: bolder;
      text-transform: uppercase;
    }
  }
}
.post-type-archive-especiais{
  aside#sidebar {
    h2.widget-title{
      line-height: 24px;
    }
    .type-especiais{
      margin-bottom: 30px;
      h3{
        overflow: hidden;
        margin-top:0;
        margin-bottom: 2px;
        a{
          color:$dark_main;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
  .each-dossie{
    &:nth-of-type(2n+1){
      clear: both;
    }
  }
  .single-thumbnail{
    width: 100%;
    img{
      width: 100%;
    }
  }
}
.single-especiais{
  .com-thumb{
    #especial-text{
      background-repeat: no-repeat, repeat;
      background-position: right top, left top;
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
      padding: 20px 20px 10px;
      color: #fff;
      position: absolute;
      bottom: 0;
      width: 100%;
      h1{
        max-width: 80%
      }
      .sub-title{
        max-width: 80%

      }

    }
  }
  #widgets-especiais{
    margin-left:-1vw;
    margin-right:-1vw;
  }
  #destaques.widget-eol-posts.widget-container{
    .each-post-widget.foto-fundo{
      &:nth-of-type(3n+1){
        padding-left:0px;
        padding-right:10px;
      }
      &:nth-of-type(3n+2){
        padding-right:5px;
        padding-left:5px;
      }
      &:nth-of-type(3n+3){
        padding-left:10px;
        padding-right:0px;

      }
    }
  }
  .single-thumbnail{
    width: 100%;
    img{
      width: 100%;
    }
  }
  #header-especiais{
    margin-bottom: 4vw;
    position: relative;
    .fa-share-alt{
      display:none;
    }
  }
  .social-area {

  }
}
@media(min-width:991px){
  .single-especiais{
    #header-especiais{
      .social-icons-post{
        bottom: 23px;
        right: 15px;
        color: #fff;
        position: absolute;
        .icon-itself{
          padding: 0px 10px !important;
          font-size: 24px;
          float: right;
          i{
            color: #fff

          }
        }
      }
    }
  }
}
