footer#footer {
	background: $footer_bg;
	padding-top:60px;
	padding-bottom: 40px;
	padding-left:0;
	padding-right: 0;
	position: absolute;
	width: 100%;
	margin-top: 90px;
	@media print {
		display: none !important;
	}
	> .container {
		padding-left: 0;
		padding-right: 0;
	}
	.logo-social {
		border-right: 1px solid $white_main;
		padding-bottom: 11px;
		img {
			width: 100%;
		}
		@media screen and (max-width:720px ) {
			border:none !important;
			width: initial;
		}
	}
	.social-icons {
		padding-top:10px;
		@media screen and (max-width:720px ) {
			width: 100%;
			clear: both;
			text-align: center;
			padding-bottom: 15px;
			a {
				text-align: left;
			}
		}
		a {
			background: $white_main;
			color: $red_main !important;
			margin-right:2px;
			height:27px;
			width: 27px;
			display: inline-block;
			border-radius: 50%;
			i {
				font-size: 16px;
				padding-left: 7px;
				padding-top: 6px;
				color: $red_main !important;
			}
			i.fa-facebook-f {
				padding-left:10px;
			}
		}

	}
	.nav-footer {
		@media screen and (max-width:720px ) {
			width: 100%;
			clear: both;
		}
		.nav-footer-each {
			ul {
				list-style-type: none;
				padding: 0;
				li a {
					color: $white_main;
					font-size:12px;
				}
				li:first-child a {
					font-weight: bold;
					display: inline-block;
					padding-bottom: 10px;
					font-size:15px;
					&:after {
						content: "\f107";
						font-family: 'Font Awesome 5 Free';
						padding-left:10px;
						opacity: 0.6;
					}
				}
			}
			padding:0;
		}
	}
	.madeby {
		padding-top:15px;
		border-left:1px solid $white_main;
		padding-bottom: 11px;
		@media screen and (max-width:720px ) {
			border:none !important;
		}
		a {
			width:49%;
			display: inline-block;
			img {
				width:100%;
			}
		}
		a:first-child {
			padding-right:10px;
		}
	}
}

@media (max-width: 991px){
	footer#footer .logo-social img{
		width: 	initial;
	}

	a.site-logo {
	    display: flex;
	    justify-content: center;
	}
	.nav-footer {
	    padding-top: 27px;
	}
	footer#footer .nav-footer .nav-footer-each ul li a{
		font-size: 	17px;
	}

	footer#footer {
		.container {
			display: flex;
			flex-flow: column;
			justify-content: center;
    		align-items: center;
		}
		.logo-social {
			order: 1;
		}
		.nav-footer {
		    order: 3;
		}
		.madeby {
		    order: 2;
		    width: 76%;
		}
	}
}
