header#header {
	&.small-header{
		padding-top: 23px;
		padding-bottom: 15px;
		.search-icon{
			margin-top: -7px;
		}
		.menu-editorias .navbar-nav>li>a {
   		padding-bottom: 0;
			padding-bottom: 0;
		}
		a.custom-logo-link {
		    width: 195px;
		}
		img{
			width: 195px;
		}
	}
	&.large-header{
		padding-top: 5px;
		padding-bottom: 5px;
		.social-icons{
				vertical-align: text-bottom;
		}
		a.custom-logo-link{
			text-align:center;
			float:none;
			margin:0 auto;
			display:block;
			width:auto;
			img{
				width: 300px;
			}
		}
		.nav.navbar-nav{
			float: none;
	    margin: 0;
	    display: inline-block;
		}
		.search-icon{
			margin-top: 9px;
		}
	}

	.social-icons a {
	    font-size: 18px;
	    color: $main_content_color;
	    padding-left: 10px;
	}

  box-shadow: 0 4px 7px -2px rgba(0,0,0,0.09);
	.social-icons {
		display: inline-block;
		margin-left: 8px;
	}
	.search-icon {
	    display: inline-block;
	    margin-left: 0px;
	    background-image: url('../images/search.png');
	    width: 35px;
	    height: 35px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	}

	.social-icons a:hover {
	    text-decoration: none;
	}

	.fa-facebook-f {
	    color: #4267b2;
	}

	i.fab.fa-twitter {
	    color: #1da1f2;
	}

	i.fab.fa-instagram {
	    color: mediumvioletred;
	}
	.container {
	    padding-left: 0px;
	    padding-right: 0px;
	}

	span.bars:before {
	    width: 30px;
	    height: 2px;
	    background: $main_content_color;
	    display: inline-block;
	    content: " ";
	    margin-bottom: 2px;
	}

	span.bars:after {
	    width: 30px;
	    height: 2px;
	    background: $main_content_color;
	    display: inline-block;
	    content: " ";
	    margin-bottom: 11px;
	}
	.site-logo {
	    display: flex;
	    align-items: center;
	    float: left;
	    border-right: 1px solid rgba(239, 71, 35, 0.18);
    	padding-right: 12px;
	}

	a.custom-logo-link {
	    display: inline-block;
	    margin-top: -5px;
	    margin-left: 15px;
	    float: left;
	}
	span.bars {
	    width: 30px;
	    height: 2px;
	    background: $main_content_color;
	    display: inline-block;
	    content: " ";
	}

	.menu-editorias {
    	// margin-top: -19px;
	}

	a.menu-open-icon {
	    float: left;
	    height: 23px;
	}

	a.custom-logo-link img {
	    height: auto;
	}
}

nav#menu-institucional {
    float: none;
	.container {
	    padding-left: 0px;
	    padding-right: 0px;
	}
    background: rgba(0,0,0,0.01);
    padding-left: 0px;
    padding-right: 0px;
    .navbar-nav>li>a {
			padding-top: 0px;
			padding-bottom: 5px;
	    color: $main_content_color;
	    font-weight: 400;
	}

	.nav>li>a:hover, .nav>li>a:focus{
		background:none;

	}
}


.menu-editorias{
	.navbar-nav>li>a{
		font-size: 15px;
		color: $main_content_color;
	}

	.nav>li>a:hover:after {
	    width: 80%;
	    content: " ";
	    height: 3px;
	    background-color: $red_main;
	    display: block;
	    margin: 0 auto;
	    transition: all ease-in-out 200ms;
	}

	.nav>li>a:hover , .nav>li>a:focus{
		background:none;
		font-weight: bold;
	}

	.nav>li>a:after {
		width: 0px;
		display: block;
		height: 3px;
		background-color: transparent;
		content: " ";
		transition: all ease-in-out 200ms;
	}
}

ul#menu-menu-principal {
    max-height: 49px;
}


div#wrapper.container {
    margin-top: 60px;
}
nav#menu-institucional .navbar-nav li:first-child a {
    padding-left: 0px!important;
}



@media (max-width: 991px){
	header#header a.custom-logo-link{
		width: 195px;
	    display: block;
	    margin: 0 auto !important;
	}
}


nav.pull-right.menu-editorias.text-right.hidden-xs.hidden-sm {
    max-height: 45px;
    transition: 300ms ease all;
}

header#header .search-container {
	display: none;
}
