.widget-title {
		@extend .col-md-12;
		padding: 0px;
		letter-spacing: $letter_spacing_title;
		margin-bottom: 10px;
		margin-top: 0px;
		font-weight: 700;
		display: block;
   	float: none;
		color:$red_main;
		text-transform: uppercase;
		&:after {
			color:$main_content_color;
			content:' >';
			display: inline-block;
		    margin-left: 4px;
		    position: relative;
		    top: 1px;
		}
	}

aside#sidebar-colunistas {
	&:first-child{
		margin-top:20px;
	}
	a.post-link-widget-li{

	}

}
aside#sidebar, aside#sidebar-colunistas {
	.widget-eol-posts {
		clear:both;
	}
	.widget-content{
		overflow: hidden;
		clear:both;
		margin-top: 50px;

		width: 100%;

	}
	.widget-container, .widget-content{
		&:first-of-type{
			.widget-content{
				margin-top: 15px;
				.widget-title{
					line-height: 0.8;
				}
			}
		}
	}
	.widget-colunistas{

		.widget-title{
			padding-left: 0!important;
		}
		a.colunistas-link {
			padding-left: 0!important;
			margin-top:0px;
		    display: block;
		    text-transform: uppercase;
		    font-weight: bold;
		  	// letter-spacing: $letter_spacing_link;
		    margin-bottom: 2px;
		    font-size: 14px;
			color:$btn_veja_mais_color;
		}
		// &:first-child{
		// 	margin-top:20px;
		// }
		.widget-content{
			.widget-title{
				padding-left:0;
			}
			.each-colunista{
				&:first-child{
					margin-top:15px;
				}
				margin-top:0;
				margin-bottom: 18px;
				padding:0!important;
			}
		}
	}


	.widgettitle, .widget-title{
		font-size:$widget_title_font_size;
		letter-spacing: 0;
		font-family: $font_family_widget_titulo;
		padding-left:0px!important;

	}
	h3 a{
		font-size:$widget_title_font_size;
		color: $red_main;
		letter-spacing: 0;
		font-family: $font_family_widget_titulo;
	}
	a img {
		width: 100%;
	}
    padding-left: 54px;

    ul.posts-widget-list-tx {
	    list-style: none;
	    padding: 0px;
			margin-bottom:0;
	}

	a.editoria-link, {
		padding-left: 0;
		margin-top:15px;
	    display: block;
	    text-transform: uppercase;
	    font-weight: bold;
	  	// letter-spacing: $letter_spacing_link;
	    margin-bottom: 2px;
	    font-size: 14px;
		color:$btn_veja_mais_color;
	}

	a.post-link-widget-li {
		font-family: $font_family_widget_titulo;
	    font-size: 18px;
	    color: black;
	    text-decoration: none;
	    display: block;
	    padding-bottom: 15px;
	    line-height: 22px;
	}

	li.post-widget-li {
	    border-bottom: 1px solid rgba(0,0,0,0.2);
	    margin-bottom: 15px;
	}

	li.post-widget-li:last-child {
	    border-bottom: none;
			margin-bottom: 0px;
			a{
				padding-bottom: 0px!important;
			}
	}

}

aside#sidebar-colunistas {
    padding-left: 54px;
	li.post-widget-li{
		margin-bottom:10px;
		a.post-link-widget-li {
			font-size: 16px;
		    padding-bottom: 10px;
		    line-height: 18px;
		    text-decoration: none;
		    color: black;
		    letter-spacing: $letter_spacing_title;
		}
	}

}
