@media (min-width:1401) {
	.widget-live-container{
		padding-left:15px;
		padding-right:15px;
		margin-bottom:30px;
	}
}
.widget-live-container{
	padding-left:$padding-noticia;
	padding-right:$padding-noticia;
	margin-bottom:$margin-bottom-noticia;
	h2{
		color: #d0482a;
	    text-transform: uppercase;
		&:after {
	    	content: ">";
	    	color: #000;
		}
	}
}
