.widget-tags-container{
	padding-top:2vw;
	padding-bottom:2vw;
}
.widget-container{
	overflow: hidden;
	.widget-title{
		font-weight: 700;
	    display: block;
	    float: none;
	    color: #d0482a;
	    text-transform: uppercase;
	    padding: 0px;
	    letter-spacing: -0.1px;
	}


}
.widget_text{

	// margin-bottom: 20px;
	// padding-left: 1vw;
	// padding-right: 1vw;
	p{
		font-family: "Heebo";
    color: $main_content_color_p;
    font-size: 18px;
    letter-spacing: -.1px;
    line-height: 31px;
    font-weight: 400;
	}
}
@media (max-width:991px) {
	.widget-container{
		margin-bottom:50px;
	}
}
