@media(min-width:1401px){
	.each-post-widget{
		overflow: hidden;
		padding-left:$padding-noticia;
		padding-right:$padding-noticia;
		margin-bottom:$margin-bottom-noticia;
	}
	.widget-title{
		padding-left:15px;
	}
}
@media(min-width:991px){
	.tamanho-20{
		width:20%;
		float:left;
	}
	.page-template-page-home,	.page-template-page-sidebar-home, .home{
		.widget-container{
			.widget-title{
				font-size: 20px;
				font-weight: 800;
				line-height: 33px;
				&:after{
					font-size:25px;
				}
			}
			&.editorial{
				.widget-title{
					margin:0 1vw;
					letter-spacing: 1.3;
					color: #fff;
					font-size: 16px;
					font-weight: 800;
					line-height: 33px;
					background-color: rgb(91,56,122);
					&:after{
						color:$red-main;
						font-size: 25px;
					}
				}
			}
		}
	}
	.widget-eol-posts.widget-container {

		.each-post-widget{
			.tax-widget-titulo a{
				font-family: heebo;
				font-size: 25px;
				font-weight: 500;
				line-height: 33px;
				letter-spacing: -0.2px;
			}
			&.manchete{
				.tax-widget-titulo a {
					font-family: 'Roboto Condensed';
			    font-size: 40px;
			    font-weight: 700;
			    line-height: 41px;
				}
			}
			&.titulo50peso{
				.tax-widget-titulo a{
					font-family: heebo;
			    font-size: 30px;
			    font-weight: 600;
			    line-height: 33px;
			    letter-spacing: 0.4px;
				}
			}
			&.titulo50{
				.tax-widget-titulo a{
					font-family: heebo;
			    font-size: 30px;
			    font-weight: 500;
			    line-height: 33px;
			    letter-spacing: 0.4px;
				}
			}
			&.titulo25{
					.tax-widget-titulo a{
					font-family: heebo;
					font-size: 25px;
					font-weight: 500;
					line-height: 33px;
					letter-spacing: -0.2px;
				}
			}
			&.titulo25peso{
				.tax-widget-titulo a{
					font-family: heebo;
					font-size: 25px;
					font-weight: 700;
					line-height: 34px;
					letter-spacing: 0px
				}
			}
			&.titulolistaleve{
				.tax-widget-titulo a{
					font-family: heebo;
					font-size: 21px;
					font-weight: 500;
					line-height: 23px;
					letter-spacing: -0.2px;
				}
			}
			&.titulolistapeso{
				.tax-widget-titulo a{
					font-family: heebo;
					font-size: 21px;
					font-weight: 600;
					line-height: 23px;
					letter-spacing: -0.1px;
				}
			}
			&.titulocaixaalta{
				.tax-widget-titulo a{
					font-family: heebo;
					font-size: 24px;
					font-weight: 700;
					line-height: 29px;
					letter-spacing: -0.1px;
					text-transform: uppercase
				}
			}
			.each-related-article{
				font-family: roboto condensed;
				font-size: 18px;
				font-weight: 600;
				line-height: 26px;
				letter-spacing: 0.3px;
			}
			.tax-widget-subtitulo{
				p{
					font-family: heebo;
					font-size: 16px;
					line-height: 19px;
					font-weight: 300;
					letter-spacing: 0.2px
				}
			}
			.tax-widget-autor, .tax-widget-data{
				margin-left: 5px;
				font-size: 10px;
				letter-spacing: 1px;
				text-transform: uppercase;

			}
			figure{
				background: #f34824;
				position: relative;
				> div a i{
					opacity: 0.9;
					font-size: 25px;
					display: inline-block;
					color: #fff !important;
				}
				> div a:hover i{
					transition: all ease-in-out 100ms;
					opacity: 1;
				}
				.social-icons-post{
					padding: 0;
					display: none;
					text-align: center;
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 99;
					width: auto;
					transform: translate(-50%, -50%);

				}
				&.post-thumbnail{
					img{
						max-width: 100%;
						width: 100%;
					}
				}
			}
			&:hover{
				&.foto-fundo{
					.post-link-widget-text{
						transition: all ease-in-out 100ms;
						opacity: 0.5;
						&:hover{
							opacity: 1;
						}
					}
				}
				figure{
					.fas.fa-share-alt{
						position: absolute;
						color: #fff;
						top: 10px;
						left: 10px;
						transition: all ease-in-out 100ms;
						opacity: 0;
					}
					.social-icons-post{
						display: block;
					}
					img{
						filter: blur(2px);
						transition: all ease-in-out 100ms;
						opacity: 0.35;
					}
				}
			}
			&.tamanho-20:nth-of-type(5n+1){
				clear:left;
			}
			&.tamanho-25:nth-of-type(4n+1){
				clear:left;
			}
			&.tamanho-33:nth-of-type(3n+1){
				clear:left;
			}
			&.tamanho-50:nth-of-type(2n+1){
				clear:left;
			}
			&.tamanho-66:nth-of-type(3n+1){
				clear:left;
			}
			&.tamanho-75:nth-of-type(3n+1){
				clear:left;
			}
			// &.tamanho-total-25{
			// 	&.each-post-widget{
			// 		.post-link-widget-text{
			// 			.tax-widget-subtitulo{
			// 				font-size: 18px;
			// 			}
			// 			h3.tax-widget-titulo{
			// 				font-size:19px;
			// 				line-height: 1.3;
			// 				a{
			// 					font-size: 19px;
			// 				}
			// 			}
			// 		}
			// 	}
			// }
			// &.tamanho-total-33{
			// 	.post-link-widget-text{
			// 		h3.tax-widget-titulo{
			// 			line-height:1.2;
			// 		}
			// 	}
			// }
			// &.tamanho-total-50{
			// 	&.foto-fundo, &.foto-cima, &.sem-foto{
			// 		.tax-widget-titulo{
			// 			font-size:23px;
			// 			line-height:1.2;
			// 		}
			// 		.tax-widget-subtitulo{
			// 			font-size:20px;
			// 		}
			// 	}
			// }
			// &.tamanho-total-100{
			// 	.post-link-widget-text{
			// 		h3.tax-widget-titulo{
			// 			font-size:42px;
			// 		}
			// 		.tax-widget-subtitulo{
			// 			font-size: 25px;
			// 		}
			// 	}
			// }
			// &.tamanho-total-100.foto-esquerda{
			// 	.post-link-widget-text{
			// 		h3.tax-widget-titulo{
			// 			font-size:32px;
			// 		}
			// 		.tax-widget-subtitulo{
			// 			font-size: 20px;
			// 		}
			// 	}
			// }
			&.foto-fundo{
				position: relative;
				.overlay-post-link-widget-text{
					position:relative;
					width:100%;
					.post-link-widget-text{
						background-repeat: no-repeat, repeat;
						background-position: right top, left top;
						background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
						padding: 20px 20px 10px;
						color:#fff;
						position:absolute;
						bottom:0;
						width:100%;
						a,p{
							color:#fff;
						}
					}
				}
			}
			&.foto-esquerda{
				.flex{
					display: flex;
					text-align: left;
					align-items: center;
				}
			}
			&.foto-meio{
				.tax-widget-titulo{
					margin-top: 0px;
					display: flex;
					text-overflow: ellipsis;
					align-items: center;
					overflow:hidden;
				}
				.tax-widget-subtitulo{
					margin-top:10px;
				}
			}
			&.foto-cima{
				.tax-widget-titulo{
					margin-top:10px;
				}
			}
			&.sem-foto{
				.post-link-widget-text{
					.tax-widget-titulo{
						margin-top:0;
					}
				}
			}
			figure{
				.fas.fa-share-alt{
					position: absolute;
					color: #fff;
					top: 20px;
					left: 20px;
					height:23px;
					width: 23px;
					padding: 5px;
					border-radius: 23px;
					background:#33333385;
					transition: all ease-in-out 100ms;
				}
			}
		}
	}
}
.limpa{
	clear:both;
}

.page-template-page-home,	.page-template-page-sidebar-home, .home {
	.widget-content{
		padding-top: 0px;
	}
	div#wrapper.container{
		margin-top:20px;
	}
}
.tamanho-100{
	@extend .col-md-12;
}
.tamanho-75{
	@extend .col-md-9;
}
.tamanho-66{
	@extend .col-md-8;
}
.tamanho-50{
	@extend .col-md-6;
}
.tamanho-33{
	@extend .col-md-4;
}
.tamanho-25{
	@extend .col-md-3;

}

.widget-eol-posts.widget-container {
	overflow:hidden;
	padding:0!important;
	&.esconder-titulo{
		.widget-title{
			visibility:hidden;
		}
	}
	a{
		text-decoration:none;
	}
	.eol_related_articles{
		clear:left;
		margin: 10px 20px;
		a{
			font-size: 16px;
			display: block;
			color:$dark_main;
			i{
				margin-right: 7px;
				color:$red-main;
			}

		}
	}

	.widget-title{
		padding-left:$padding-noticia;
	}

	h2{
		color:$red-main;
		text-transform:uppercase;
		&:after{
			content:">";
			color:$dark_main;
		}
	}
	.each-post-widget{

		overflow: hidden;
		padding-left:$padding-noticia;
		padding-right:$padding-noticia;
		margin-bottom:$margin-bottom-noticia;
		figure{
			transition: all ease-in-out 100ms;
			.icon-itself{
				display: inline-block;
				padding: 10px;
			}

			img{
				transition: all ease-in-out 100ms;
			}
		}
		.post-link-widget-text{

			.tax-widget-autor:nth-of-type(2),.tax-widget-autor:nth-of-type(3){
				margin-left:5px;
				&:before{
					content: " · "
				}
			}
			.tax-widget-data, .tax-widget-autor{
				float:left;
			}
			.tax-widget-titulo{
				font-size:23px;
				color:$dark_main;
				a{
					color:$dark_main;
				}
			}
			.tax-widget-subtitulo{
				font-size:18px;
				overflow: hidden;
				clear: both;
			}
		}
		&.foto-meio{
			.tax-widget-titulo{
				line-height: 1.3;
				overflow:hidden;
			}
		}
		&.foto-esquerda{
			figure{
				@extend .col-md-4;
				@extend .no-padding;
			}
			.post-link-widget-text, .post-link-widget-text-2{
				@extend .col-md-8;
				.tax-widget-titulo{
					margin-top:0;
				}
			}
		}

	}
	&.foto-fundo{
		position: relative;
		.overlay-post-link-widget-text{
			// overflow: hidden;
			position:relative;
			width:100%;
			.post-link-widget-text{
				color:#fff;
				a{
					color:#fff;
				}
				.tax-widget-data, .tax-widget-autor{
					display:inline-block;
				}
			}
		}
	}
	.foto-esquerda{

	}
	.foto-meio{

	}
	.sem-foto {

	}
}
@media(max-width:991px){
	.widget-eol-posts.widget-container {
		.each-post-widget{
			&.esconder-titulo{
				.widget-title{
					display:none;
				}
			}
			&.foto-esquerda{
				.post-link-widget-text, .post-link-widget-text-2{
					padding-left: 0;
					padding-right: 0;
				}
			}
			.post-thumbnail{
				.single-thumbnail{
					img{
						width: 100%;
					}
				}
				.social-icons-post{
					.icon-itself{
						float:right;
						i{
							font-size: 20px;
						}
					}
				}
			}
			margin-top: 20px;
			clear: both;
			.tax-widget-titulo{
				margin:7px 0;
			}
		}
	}
}
