#sidebar-colunistas{
	margin-bottom:35px;
}
@media (min-width:1401) {
	.widget-colunistas{
		.widget-content{
			margin-bottom:15px;
			.colunistas-link{
				padding: 15px;
				font-size: 18px;
				font-weight: 700;
			}
		}
		.widget-title{
			padding-left:15px!important;
		}
		overflow: hidden;
		a.post-link-widget-li{

		}
		.each-colunista {
			padding-left:15px;
			padding-right:15px;
			margin-bottom:15px;
		}
	}
}
.home .widget-colunistas{
	.each-colunista {
		&.tamanho-20{
			.thumbnail-colunista{
				width: 55%;
			}
		}
		article{
			text-align: center;
		}
		&.tamanho-25{
			.thumbnail-colunista{
				width: 35%;
			}
			&:nth-of-type(4n+1){
				clear:both;
			}
		}
		&.tamanho-33{
			.thumbnail-colunista{
				width:30%;
			}
			&:nth-of-type(3n+1){
				clear:both;
			}
		}
		a.coluna-link{
			display: block;
		}
		.thumbnail-colunista{
			float: none;
			margin: 0 auto
		}
		.colunista-name{
			width:100%;
			text-align:center;
		}
	}
}
.home .widget-colunistas{
	.each-colunista {
		a.post-title{
			margin-top:0;
		}
	}
}
.widget-colunistas{
	.widget-content{
		margin-bottom:$margin-bottom-noticia;
		.colunistas-link{
			padding: $padding-noticia;
			font-size: 18px;
			font-weight: 700;
		}
	}
	.widget-title{
		padding-left:$padding-noticia!important;
	}
	overflow: hidden;
	a.post-link-widget-li{

	}
	.each-colunista {
		padding-left:$padding-noticia;
		padding-right:$padding-noticia;
		margin-bottom:$margin-bottom-noticia;
		&.tamanho-50:nth-of-type(2n+1), &.tamanho-33:nth-of-type(3n+1){
			clear:left;
		}
		&.tamanho-100{
			clear:both;
		}


		.thumbnail-colunista {
			padding: 0;

		}
		article {
			width:100%;
			a {
				width: 100%;
				display: inline-block;
			}
		}

		.thumbnail-colunista {
		    overflow: hidden;
		    border-radius: 50%;
		    width: 50px;
		}
		/*padding-left: 15px;*/
		a.coluna-link {
		    display: flex;
		    align-items: center;
		}

		h4.colunista-name {

			text-align:left;
		    padding-left: 12px;
		    text-transform: uppercase;
		    font-size: 17px;
		    color: $main_content_color;
		    font-weight: 700;
		   letter-spacing: $letter_spacing_title;
		}
		a.coluna-link:hover{
			text-decoration: none;
		}

		a.post-title {
		    font-size: 18px;
		    color: $main_content_color;
		    font-weight: 500;
		   letter-spacing: $letter_spacing_link;
		    text-decoration: none;
		    margin-top: 10px;
		    line-height: 23px;
		}

		a.post-sub-title {
		    text-decoration: none;
		    margin-top: 5px;
		    color: black;
		    line-height: 17px;
		}
	}
}
@media(max-width:991px){
	.each-colunista {
		margin-top:20px;
	}

}
