.widget-tags-container{
	padding-top:2vw;
	padding-bottom:2vw;
}
.widget-container{
	overflow: hidden;
	.widget-title{
		font-weight: 700;
	    display: block;
	    float: none;
	    color: #d0482a;
	    text-transform: uppercase;
	    padding: 0px;
	    letter-spacing: -0.1px;
	}


}
.widget_text{

	// margin-bottom: 20px;
	// padding-left: 1vw;
	// padding-right: 1vw;
	p{
		font-family: "Heebo";
    color: $main_content_color_p;
    font-size: 18px;
    letter-spacing: -.1px;
    line-height: 31px;
    font-weight: 400;
	}
}
@media (max-width:991px) {
	.widget-container{
		margin-bottom:50px;
	}
}
.fundo-cinza {
	background:#1f1f1f !important;
}
.widget-videos-container.fundo-cinza {
	background: transparent !important;
	.videos {
		background: #1f1f1f !important;
		padding-top:31px;
		padding-bottom: 20px;
		padding-left:20px;
		padding-right: 20px;
	}
}
.fundo-cinza-colunas{
	background:#EDEDED;
	padding-top:20px;
	padding-bottom: 20px;
}
.widget-title {
	font-size:20px !important;
	&:after {
		font-size:25px !important;
	}
}
.colunistas-link {
	display: inline-block;
	margin-top:7px;
}
@media screen and (min-width: 1024px) {
	.video-link.colunistas-link {
		margin-top: -20px;
	}
}
.leia-mais .colunistas-link {
	margin-top:-30px;
}
