@media (min-width:1401) {
	.widget-live-container{
		padding-left:15px;
		padding-right:15px;
		margin-bottom:30px;
	}
}
.widget-live-container{
	padding-left:$padding-noticia;
	padding-right:$padding-noticia;
	margin-bottom:$margin-bottom-noticia;
	h2{
		color: #d0482a;
	    text-transform: uppercase;
		&:after {
	    	content: ">";
	    	color: #000;
		}
	}
}

.faixa-topo{
	z-index: 999;
	top: 0;
	left: 0;
	background:#000000;
	width: 100%;
	padding:10px 4vw;
	a{
		color:white;
		&#fechar-topo{
			float: right;
		}
	}

}
