.widget-tags-container{
	padding-top:2vw;
	padding-bottom:2vw;
}
.widget-container{
	overflow: hidden;
	.widget-title{
		font-weight: 700;
	    display: block;
	    float: none;
	    color: #d0482a;
	    text-transform: uppercase;
	    padding: 0px;
	    letter-spacing: -0.1px;
	}

}
@media (max-width:991px) {
	.widget-container{
		margin-bottom:50px;
	}
}
