.ui-sortable {
	.each-repeater:not(.open) {
		opacity: 0.60;
		height: 60px;
		overflow: hidden;
		cursor: pointer;
		transition:500ms ease all;
	}
	.each-repeater.open {
		opacity: 1;
		transition:500ms ease all;
		cursor: inherit;
		height: auto;
	}
	.each-repeater {
		padding:15px;
	}
}
.widget-inside {
	.add-new-row {
		display: inline-block;
		width: 94%;
		border: 1px solid #e3e3e3;
		border-radius: 3px;
		text-align: center;
		padding:10px;
	}
	.widget-control-close-wrapper {
		color:rgba( 0, 0, 0, 0 );
	}
	.button-link {
		display: inline-block;
		background: #0085ba;
		text-decoration: none;
		padding:7px;
		color: white !important;
		border-radius: 7px;
		box-shadow: none !important;
		transition: 300ms ease all;
		&:hover {
			opacity:0.70;
			transition:300ms ease all;
		}
	}
	.button-link-delete {
		padding:7px;
		background: #a00;
		color: white !important;
		border-radius:7px;
		text-decoration: none;
	}
	.widget-control-actions {
		padding-top:10px;
	}
	span.image-selected {
		width: 100%;
		display: inline-block;
	}
	.btn-delete-image {
		position: absolute;
		margin-top: 20px;
		margin-left:10px;
		padding:7px;
		background: #a00;
		color: white !important;
		border-radius:7px;
		text-decoration: none;
	}
	.each-repeater:not(.open) {
		.btn-delete-image {
			display: none;
		}
	}
}

